<div class="row">
<div class="cart-left">

  <div class="products">
  <div class="card" *ngIf="itemsLength <= 0"><div class="card-body">No Item Found</div></div>
  <div class="card" *ngFor="let item of items">
    <img src="{{item.img_url}}" class="card-img" alt="{{item.name}}">
    <div class="card-body">
      <h5 class="card-title">{{item.name}}</h5>
      <p class="card-text" *ngIf="item.price > 0">
        <span class="offer-price" *ngIf="item.discount <= 0">{{item.price | currency : 'INR' : 'symbol' : '0.0-0'}}</span>
        <span class="offer-price" *ngIf="item.discount > 0">{{item.price - ((item.price / 100) * item.discount) | currency : 'INR' : 'symbol' : '0.0-0'}}</span>
        <span class="price" *ngIf="item.discount > 0">{{item.price}}</span>
        <span class="discount" *ngIf="item.discount > 0">{{item.discount}}% Off</span>

        <span class="count">
          <button class="countbtn" (click)="countDecrease()"> – </button>
          <span class="countinput"><input type="text" value="{{cservice.count}}"></span>
          <button class="countbtn" (click)="countIncrease()"> + </button>
        </span>

        <span class="remove"  (click)="removeToCart(item)">Remove</span>
      </p>
    </div>
  </div>
  </div>

</div>
<div class="cart-right">

  <div class="card" *ngIf="items.length >= 1">
    <div class="card-body">
      <h4 class="card-title">PRICE DETAILS</h4>
      <div class="price-table">
      <div>Price ({{itemsLength}} item) :</div><span> {{price | currency : 'INR' : 'symbol' : '0.0-0'}}</span>
      </div>
      <div class="price-table">
      <div>Discount :</div><span> {{discount | currency : 'INR' : 'symbol' : '0.0-0'}}</span>
      </div>
      <div class="price-table border-top">
      <div>Total Payable :</div><span> {{totalprice | currency : 'INR' : 'symbol' : '0.0-0'}}</span>
      </div>
    </div>
  </div>

</div>

</div>
